body{
  overflow-x: hidden;
  margin: 0px;
  width: 100vw;
  min-height: 100vh;
  background-color: #f0f8ff !important;
}

h1{
  font-family: 'purista-web', sans-serif !important;
  color: #232323;
}

h2{
  font-family: 'purista-web', sans-serif !important;
  color: #232323;
}

h3{
  font-family: 'purista-web', sans-serif !important;
  color: #232323;
}

h4{
  font-family: 'purista-web', sans-serif !important;
  color: #232323;
}

h5{
  font-family: 'purista-web', sans-serif !important;
  color: #232323;
}

h6{
  font-family: 'purista-web', sans-serif !important;
  color: #777777 !important;
  text-transform: uppercase;
}

p{
  font-family: 'purista-web', sans-serif;
  color: #232323;
}

.main-page{
  width: calc(100vw: - 60px);
  margin-left: 60px;
}

.score{
  height: 44px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-top: 9px;
  text-align: center;
  font-size: 18px;
  width: 40px;
  float: left;
  background-color: rgba(0,0,0,0.09);
}

.scoreGold{
  background-color: rgba(0,0,0,0.12);
}

.scoreSilver{
  background-color: rgba(0,0,0,0.2);
}

.scoreBronze{
  background-color: rgba(0,0,0,0.2);
}

.scoreWin{
  background-color: rgba(119, 221, 119);
}

.scoreLoss{
  background-color: rgba(237,67,55);
}

.profilePic{
  float: left;
  height: 44px;
  width: 44px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  transition-duration: 0.2s;
}

.teamName{
  float: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  letter-spacing: 0.75px;
  width: 156px;
  height: 44px;
  padding-top: 10px;
  font-size: 16px;
  color: #232323;
  padding-left: 16px;
}

.whiteText{
  color: white;
}

/* There's room in the column for a connector from column pair to another pair */
.bracketColumn{
  float: left;
  height: auto;
  width: 320px;
}

.bracketPair{
  height: auto;
  width: auto;
  margin-bottom: 30px;
}

.teamCard{
  margin: 10px;
  height: 44px;
  border-radius: 8px;
  width: 240px;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.25);
  transition-duration: 0.2s;
  margin-right: 20px;
}

.teamCard:hover{
  transform: scale(1.03);
  transition-duration: 0.2s;
}

.teamCard:hover > .profilePic{
  transform: scale(1.015);
  transition-duration: 0.2s;
}

.goldTeamCard{
  background-color: #FFB000;
}

.silverTeamCard{
  background-color: #878787;
}

.bronzeTeamCard{
  background-color: #BD6F22;
}
