:root{
  --gradient: linear-gradient(120deg,#23F2AC,#23D0F2);
  --aquamarine: #23F2AC;
  --turquoise: #23D0F2;
  --background: #202131;
  --cardColor: #2b2c3c;
  --tournamentCardColor: #3a3b4a;
  --tournamentCardColorHover: #454656;

  --participantWidth: 170px;
  --participantHeight: calc(0.175 * var(--participantWidth));
}

body{
  overflow-x: hidden;
  margin: 0px;
  width: 100vw;
  min-height: 100vh;
  background-color: var(--background);
}

h1{
  font-family: 'proxima-nova', sans-serif;
  color: #eeeeee;
}

h2{
  font-family: 'proxima-nova', sans-serif;
  color: #eeeeee;
}

h3{
  font-family: 'proxima-nova', sans-serif;
  color: #eeeeee;
}

h4{
  font-family: 'proxima-nova', sans-serif;
  color: #eeeeee;
}

h5{
  font-family: 'proxima-nova', sans-serif;
  color: #eeeeee;
}

h6{
  font-family: 'proxima-nova', sans-serif;
  color: #aaaaaa !important;
  text-transform: uppercase;
}

p{
  font-family: 'proxima-nova', sans-serif;
  color: #eeeeee;
}

.main-page{
  width: calc(100vw: - 60px);
  margin-left: 60px;
}

.teamName{
  margin: 0px;
  float: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  letter-spacing: 0.75px;
  width: 130px;
  height: 35px;
  padding-top: 10px;
  font-size: 13px;
  color: #eeeeee;
  padding-left: 14px;
}

.whiteText{
  color: white;
}

.bracketColumn{
  float: left;
  height: auto;
  width: var(--participantWidth);
}

.divider{
  width: var(--participantWidth);
  height: 1px;
  background-color: rgba(15,15,20,0.2);
}

.upperHalf{
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: #ffffff;
  height: 35px;
  width: var(--participantWidth);
}

.lowerHalf{
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #ffffff;
  height: 35px;
  width: var(--participantWidth);
}

.match{
  height: 71px;
  width: var(--participantWidth);
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 3px 2px 0px rgba(0,0,0,0.15);
  transition-duration: 0.2s;
  background-color: #ffffff;
}

.match:hover{
  cursor: pointer;
  transform: scale(1.03);
  transition-duration: 0.2s;
}

.profilePic{
  float: left;
  height: 35px;
  width: 35px;
  transition-duration: 0.2s;
}

.upperHalf > .profilePic{
  border-top-left-radius: 4px;
}

.lowerHalf > .profilePic{
  border-bottom-left-radius: 4px;
}

.score{
  height: 35px;
  padding-top: 6px;
  text-align: center;
  font-size: 16px;
  width: 35px;
  float: left;
  margin: 0px;
  background-color: rgba(0,0,0,0.09);
}

.upperHalf > .score{
  border-top-right-radius: 4px;
}

.lowerHalf > .score{
  border-bottom-right-radius: 4px;
}

.win{
  background-color: rgba(119, 221, 119);
  font-family: 'MuseoSans700', sans-serif;
}

.loss{
  background-color: rgba(237,67,55);
  font-family: 'MuseoSans700', sans-serif;
}






.extraSpace{
  margin-top: 358px;
}

.emptyPair3{
  height: 280px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.emptyPair4{
  height: 569px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.emptyCard{
  margin: 10px;
  height: 44px;
  border-radius: 8px;
  width: 240px;
  background-color: rgba(200,200,200,0.2);
  box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.25);
  transition-duration: 0.2s;
  margin-right: 20px;
}

.teamCard{
  cursor: pointer;
  margin: 10px;
  height: 44px;
  border-radius: 8px;
  width: 240px;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.25);
  transition-duration: 0.2s;
  margin-right: 20px;
}

.teamCard:hover{
  transform: scale(1.03);
  transition-duration: 0.2s;
}

.teamCard:hover > .profilePic{
  transform: scale(1.014);
  transition-duration: 0.2s;
}

.goldTeamCard{
  background-color: #FFB000;
}

.silverTeamCard{
  background-color: #878787;
}

.bronzeTeamCard{
  background-color: #BD6F22;
}
