:root{
  --gradient: linear-gradient(120deg,#23F2AC,#23D0F2);
  --aquamarine: #23F2AC;
  --turquoise: #23D0F2;
  --topbarColor: #161722;
  --background: #202131;
  --cardColor: #2b2c3c;
  --tournamentCardColor: #3a3b4a;
  --tournamentCardColorHover: #454656;
  --sidebarWidth: 0px;

  --filterLabelWidth: 125px;
}
body{
  overflow-x: hidden;
  margin: 0px;
  width: 100vw;
  min-height: 100vh;
  background-color: var(--background) !important;
}

h1{
  font-family: 'proxima-nova', sans-serif !important;
  font-weight: 700;
  color: #eeeeee;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

h2{
  font-family: 'proxima-nova', sans-serif !important;
  font-weight: 600 !important;
  color: rgba(255,255,255,0.9) !important;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

h3{
  font-family: 'proxima-nova', sans-serif !important;
  color: rgba(255,255,255,0.9) !important;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

h4{
  font-family: 'proxima-nova', sans-serif !important;
  color: rgba(255,255,255,0.9) !important;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

h5{
  font-family: 'proxima-nova', sans-serif !important;
  color: rgba(255,255,255,0.9) !important;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

h6{
  font-family: 'proxima-nova', sans-serif !important;
  color: #888888 !important;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

p{
  font-family: 'proxima-nova', sans-serif;
  color: #eeeeee;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

input{
  color: #eeeeee;
}

::placeholder{
  color: #888888 !important;
}

select{
  color: #eeeeee;
}

select option{
  color: #aaaaaa;
  background: var(--tournamentCardColor);
}

::placeholder{
  color: #888888;
}

.main-page{
  padding-top: 95px;
  width: 100%;
  margin-left: 0px;
}

.headerImage{
  width: 100vw;
  z-index: -1000;
  height: 400px;
  position: absolute;
  top: 0;
  left: 0;
}

.gradientHeader{
  background-image: var(--gradient);
}

.tournamentInfoWallpaper{
  background-repeat: no-repeat;
  background-size: cover;
}

.overwatchInfoWallpaper{
  background-image: url('../media/game_wallpapers/Overwatch-gameplay.jpg');
}

.valorantInfoWallpaper{
  background-image: url('../media/game_wallpapers/Valorant-gameplay.jpg');
}

.fortniteInfoWallpaper{
  background-image: url('../media/game_wallpapers/Fortnite-gameplay.jpg');
}

.supersmashbrosultimateInfoWallpaper{
  background-image: url('../media/game_wallpapers/Super Smash Bros. Ultimate-gameplay.jpg');
}

.minecraftInfoWallpaper{
  background-image: url('../media/game_wallpapers/Minecraft-gameplay.jpg');
}

.rocketleagueInfoWallpaper{
  background-image: url('../media/game_wallpapers/Rocket League-gameplay.jpg');
}

.fallguysInfoWallpaper{
  background-image: url('../media/game_wallpapers/Fall Guys-gameplay.jpg');
}

.counterstrikeglobaloffensiveInfoWallpaper{
  background-image: url('../media/game_wallpapers/Counter-Strike Global Offensive-gameplay.jpg');
}

.leagueoflegendsInfoWallpaper{
  background-image: url('../media/game_wallpapers/League of Legends-gameplay.jpg');
}

.prizingIcons{
  width: 10%;
  height: 10%;
  object-fit: contain;
}

.platformIcons{
  width: 10%;
  height: 10%;
  object-fit: contain;
}

#boostsBorder{
  width: 100%;
}

.noGradientBorder{
  transition-duration: 0.2s;
  padding: 4px;
  height: auto;
  border-radius: 12px;
  background: none;
  background-size: 100% 100%;
}

.noGradientBorder:hover{
  transform: scale(1.02);
  transition-duration: 0.2s;
  cursor: pointer;
}

.gradientBorderAnimated{
  transition-duration: 0.2s;
  padding: 4px;
  height: auto;
  border-radius: 8px;
  background: -webkit-linear-gradient(0deg, #23f8ac, #19d2d8);
  background-size: 800% 800%;
  -webkit-animation: flow 2s ease infinite;
  -moz-animation: flow 2s ease infinite;
  -o-animation: flow 2s ease infinite;
  animation: flow 2s ease infinite;
}

.gradientBorderAnimated:hover{
  transform: scale(1.02);
  transition-duration: 0.2s;
  cursor: pointer;
}

.gradientTextAnimated{
  font-weight: bold;
  background: -webkit-linear-gradient(45deg, #23f2ac, #19d5d2);
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  -webkit-animation: flow 3.5s ease infinite;
  -moz-animation: flow 3.5s ease infinite;
  -o-animation: flow 3.5s ease infinite;
  animation: flow 3.5s ease infinite;
}

.buttonlessButton{
  display: block;
  background: transparent;
  border: 0px;
  font-family: 'proxima-nova', sans-serif;
  font-size: 18px;
  transition-duration: 0.1s;
}

.buttonlessButton:hover{
  opacity: 60%;
  transition-duration: 0.1s;
}

.grayButton{
  display: block;
  font-size: 18px;
  background-color: var(--tournamentCardColor);
  font-family: 'proxima-nova', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  padding-left: 30px;
  padding-right: 30px;
  width: auto;
  height: 44px;
  color: white;
  border: transparent;
  border-radius: 4px;
  transition-duration: 0.2s;
}

.grayButton:hover{
  opacity: 70%;
  transition-duration: 0.2s;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
  transform: translateY(-1px);
}

.gradientButton{
  display: block;
  font-size: 18px;
  background-image: var(--gradient);
  font-family: 'proxima-nova', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  padding-left: 30px;
  padding-right: 30px;
  width: auto;
  height: 44px;
  color: white;
  border: transparent;
  border-radius: 4px;
  transition-duration: 0.2s;
}

.gradientButton:hover{
  opacity: 70%;
  transition-duration: 0.2s;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
  transform: translateY(-1px);
}

.dashboardIcons{
  float: right;
  margin-top: 10px;
  width: 50px;
  height: 50px;
}

.tournamentsHeader{
  font-size: 40px;
}

.myTournamentsHeader{
  padding-bottom: 0px;
}

.fa-2x {
font-size: 2em;
}

.fa-lg{
  font-size: 1.3em !important;
}

.fa {
position: relative;
display: table-cell;
width: var(--sidebarWidth);
height: 26px;
text-align: center;
vertical-align: middle;
font-size:20px;
font-weight: 200;
margin-top: 13px;
}

.sidebarLogo{
  margin-right: auto;
  max-width: 179px;
  max-height: 61px;
  display: block;
}

#firstGreetingMessage{
  color: #eeeeee;
  display: normal;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  padding-top: 30px;
  padding-right: 20px;
  padding-left: 20px;
}

#greetingMessage{
  color: #eeeeee;
  display: none;
  font-size: 50px;
  text-align: center;
}

/* BOOSTS PAGE CODE */
#boostsMessage{
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 40px;
  color: #eeeeee;
  font-size: 37px;
  text-align: center;
}

#billingInfoButton{
  margin-left: auto;
  margin-top: 30px;
  margin-right: auto;
}

.boostsRow{
  position: relative;
  display: table;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.boostsDetails{
  float: left;
  max-width: 60%;
  font-size:17px;
  line-height: 27px;
}

#allStarUnlimited{
  position: relative;
}

.boostsGraphic{
  top: 0px;
  right: -10px;
  height: 70px;
  width: 70px;
  position: absolute;
}

.clear{
  clear: both;
}

.boostsList{
  padding-left: 0px;
  float: left;
  list-style-type: circle;
}

.boostsListItem{
  font-size: 17px;
  color: #aaaaaa;
}

.boostsTitle{
  padding-bottom: 15px;
  max-width: 250px;
}

.boostsPrice{
  color: #eeeeee;
text-align: center;
}

.priceDetail{
  font-size: 18px;
  color: #888888;
}
/* END BOOSTS PAGE CODE */

.footer{
  background-color: green;
  width: 100%;
  min-height: 100px;
  height: auto;
}

.userInfobar{
  top: 0;
  right: 0;
  background-color: transparent;
  width: auto;
  height: 80px;
  position: absolute;
  display: none;
}

.userPicInfobar{
  position: relative;
  float: right;
  margin-top: 16px;
  margin-right: 20px;
  height: 48px;
  width: 48px;
  transition-duration: 0.2s;
}

.userPicInfobar:hover{
  opacity: 70%;
  transition-duration: 0.2s;
}

.unlimitedIconInfobar{
  position: absolute;
  right: 16px;
  top: 46px;
  visibility: hidden;
}

.userNameInfobar{
  padding-top: 29px;
  padding-right: 16px;
  float: right;
  position: relative;
  color: #eeeeee;
  text-align: center;
  width: auto;
}

.userNameInfobar:hover{
  color: rgba(255,255,255,0.7);
}

.row{
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin-left: auto !important;
  margin-right: auto !important;
}

.singleColumn{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cardColumn{
  align-content: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.leftColumn{
  margin: 0px;
}

.rightColumn{
  margin: 0px;
}

.filterAndSearchbar{
  padding-top: 20px;
  padding-left: 12px;
  padding-right: 12px;
  height: 70px;
  display: inline-block;
  float: left;
  width: 100%;
}

.filterLabel{
  margin-right: 1px;
  border-top: 9px solid var(--tournamentCardColor);
  border-bottom: 9px solid var(--tournamentCardColor);
  border-right: 15px solid var(--tournamentCardColor);
  border-left: 15px solid var(--tournamentCardColor);
  background-color: var(--tournamentCardColor);
  border-radius: 2px;
  width: var(--filterLabelWidth) !important;
  height: 60px;
  display: inline-block;
  float: left;
  width: auto;
  cursor: pointer;
  overflow:hidden;
  white-space: nowrap;
}

.filterLabel:hover{
  border-color: var(--tournamentCardColorHover);
  background-color: var(--tournamentCardColorHover);
}

.filterButtonLabelActive{
  border-color: var(--tournamentCardColorHover);
  background-color: var(--tournamentCardColorHover);
}

.filterIcon{
  width: 40px !important;
  margin-top: 6px !important;
  display: inline-block;
  color: #eeeeee;
}

.filterLabelText{
  font-size: 13px;
  margin-bottom: 2px;
  text-transform: uppercase;
  letter-spacing: 0.9px;
  display: inline-block;
}

.filterLabelField{
  font-size: 13px;
  margin: 0px;
  color: #888888;
}

.filterListItem{
  list-style: none;
}

.filterOption{
  margin: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100% !important;
  cursor: pointer;
}

.filterOption:hover{
  background-color: rgba(255,255,255,0.06);
}

.filterOption:hover .filterText{
  color: #eeeeee;
}

.filterInput{
  display: none;
}

.filterText{
  margin: 0px;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  color: #aaaaaa;
  font-size: 13px;
  font-weight: 400;
}

.filterSearchbar{
  border-radius: 2px;
  padding: 8px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 10px;
  margin-left: 14px;
  margin-right: 14px;
  width: 220px;
  background-color: var(--cardColor);
  border: 1px solid: var(--tournamentCardColor);
  color: #eeeeee;
}

.filterPopup{
  z-index: 10000;
  margin: 10px;
  position: relative;
  background-color: var(--tournamentCardColorHover);
  margin-top: 61px;
  margin-left: 0px;
  min-width: var(--filterLabelWidth);
  max-width: calc(2 * var(--filterLabelWidth));
  height: auto;
  /*max-height: 170px;*/
  /*overflow: auto;*/
  display: none;
  color: #eeeeee;
  border-radius: 2px;
}

#datePopup{
  max-width: var(--filterLabelWidth);
  margin-left: calc(1px + var(--filterLabelWidth));
}

.show{
  display: block;
}

.filterTitle{
  color: #cccccc !important;
  font-size: 13px;
  margin-top: 0px;
  margin-bottom: 5px;
}

.filterRow{
  width: 100%;
  display: inline-block;
}

.tournamentSearchbar{
  display: inline-block;
  float: right;
  width: 100%;
  max-width: 250px;
  min-height: 40px;
  max-height: 40px;
  margin-bottom: 15px;
  padding: 11px;
  font-size: 14px;
  font-family: 'proxima-nova', sans-serif;
  border-radius: 8px;
  background-color: rgba(255,255,255,0.08);
  border: 1px solid rgba(255,255,255,0.09);
  color: #eeeeee !important;
}

.tournamentCard{
  flex: 0 0 100%;
  max-width: 100%;
  height: 370px;
  background: transparent;
  transition-duration: 0.2s;
  visibility: hidden;
}

.tournamentCardBackground{
  transition-duration: 0.2s;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  border-radius: 4px;
  border: 0px;
  box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.2);
  background-color: var(--tournamentCardColor);
}

.tournamentCardBackground:hover{
  transform: translateY(-4px);
  transition-duration: 0.2s;
}

.tournamentCardContent{
  position: relative;
  margin: 0px;
  cursor: pointer;
  height: 100%;
}

.tournamentCardText{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.tournamentCardContent > img{
  height: 150px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius:4px;
  border-top-right-radius: 4px;
}

.tournamentCardTitle{
  max-height: 42px;
  margin-bottom: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 21px;
  font-weight: 700;
  color: #eeeeee !important;
  text-align: center;
  font-family: 'proxima-nova', sans-serif;
}

.tournamentCardDetails{
  overflow: hidden;
  white-space: nowrap;
  list-style-type: none;
  margin-top: 20px;
  line-height: 14px;
  margin-left: -30px;
}

.tournamentDetailsList{
  overflow: hidden;
  width: auto;
  color: #aaaaaa;
  list-style: none;
  display: block;
  min-height: 23px;
}

.tournamentCardIcon{
  max-height: 20px;
  margin-top: 3px !important;
  width: 30px !important;
  padding-right: 10px;
  font-size: 14px !important;
  color: #aaaaaa !important;
  display: inline-block;
}

.tournamentCardDetail{
  text-overflow: ellipsis;
  font-size: 14px;
  color: #aaaaaa !important;
  display: inline-block;
  font-family: 'proxima-nova', sans-serif;
}

.tournamentCardHostBar{
  position: absolute;
  bottom: 0px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top: 2px solid rgba(100,100,100,0.2);
  height: 44px;
  width: 100%;
}

.tournamentCardHostPic{
  vertical-align: top;
  margin-left: 10px;
  margin-right: 4px;
  display: inline-block;
  padding: 8px;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  object-fit: cover;
}

.tournamentCardHostName{
  display: inline-block;
  text-transform: none;
  overflow: hidden;
  white-space: nowrap;
  line-height: 43px;
  font-size: 15px;
  max-width: 100%;
  margin: 0px;
  color: #aaaaaa !important;
}

.tournamentCardButton{
  font-family: 'proxima-nova', sans-serif;
  height: 50px;
  border: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  color: #eeeeee;
  width: 100%;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.tournamentCardButtonGeneric{
  background: rgba(255,255,255,0.16);
}

.tournamentCardButtonGeneric:hover{
  opacity: 70%;
}

.tournamentCardButtonSigned{
  background-image: linear-gradient(70deg,#36bf70,#12fe7b);
}

.tournamentCardButtonInProgress{
  background: -webkit-linear-gradient(0deg, var(--aquamarine), var(--turquoise));
  background-size: 300% 300%;
  -webkit-animation: flow 3s ease infinite;
  -moz-animation: flow 3s ease infinite;
  -o-animation: flow 3s ease infinite;
  animation: flow 3s ease infinite;
}

.seeProfileStatsContainer{
  text-align: left;
  width: 100%;
  padding-bottom: 30px;
}

#seeStatsButton{
  margin-left: 3%;
  margin-right: auto;
  color: #aaaaaa;
}

.statCard{
  flex: 0 0 100%;
  max-width: 100%;
  height: 185px;
  margin-bottom: 40px;
  background: transparent;
}

.statCardBackground{
  height: 100% !important;
}

.statCardContent{
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 25px;
  margin-right: 25px;
}

.statContent{
  height: 100%;
  width: 100%;
  text-align: center;
}

.iconAndNum{
  display: inline-block;
  color: #dddddd;
}

.statIcon{
  display: inline-block;
  font-size: 33px;
  padding-right: 13px;
}

.statNum{
  display: inline-block;
  font-size: 45px;
}

.statDescription{
  color: #888888;
  padding-top: 0px;
  font-size: 16px;
}

.smallCard{
  flex: 0 0 100%;
  max-width: 100%;
  height: 200px;
  background: transparent;
  transition-duration: 0.2s;
}

.smallCard:hover{
  transform: scale(1.03);
  transition-duration: 0.2s;
}

.smallCardBackground{
  margin-left: auto;
  margin-right: auto;
  height: 80%;
  width: 90%;
  border-radius: 8px;
  border: 1px solid rgba(0,0,0,0.05);
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.15);
  background-color: var(--cardColor);
}

.smallCardContent{
  margin-top: 18px;
  margin-bottom: 18px;
  margin-left: 25px;
  margin-right: 25px;
}

.smallCardHeader{
  font-size: 15px;
}

.boostsCard{
  max-width: 750px;
  width: 90%;
  margin-bottom: 30px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.boostsBackground{
  width: 100% !important;
}

.boostsBackground:hover{
  transform: none !important;
}

.longYCard{
  flex: 0 0 100%;
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.longYCardBackground{
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 90%;
  border-radius: 8px;
  border: 1px solid rgba(0,0,0,0.05);
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.15);
  background-color: var(--cardColor);
  transition-duration: 0.2s;
}

.longYCardContent{
  margin-top: 33px;
  margin-bottom: 33px;
  margin-left: 42px;
  margin-right: 42px;
}

.wideCard{
  flex: 0 0 100%;
  max-width: 100%;
  height: auto;
  margin-bottom: 40px;
}

.wideCardBackground{
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 90%;
  border-radius: 8px;
  border: 1px solid rgba(0,0,0,0.05);
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.15);
  background-color: var(--cardColor);
}

.wideCardContent{
  margin-top: 21px;
  margin-bottom: 21px;
  margin-left: 28px;
  margin-right: 28px;
}

.tournamentInfoCardBackground{
  border: 0px !important;
  box-shadow: 0px -2px 8px 0px rgba(0,0,0,0.25) !important;
}

#overviewTab{
  display: block;
}

.infoTab{
  display:none;
}

#boostsContainer{
  margin-top: 85px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#noBoostActiveText{
  margin-top: 30px;
}

#boostActiveText{
  margin-top: 30px;

}

#profileStatsCard{
  display: none;
}

#profilePic{
  float: right;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
  transition-duration: 0.2s;
  display: none;
  margin-bottom: 30px;
  margin-left: 30px;
}

#profilePic:hover{
  opacity: 65%;
  transition-duration: 0.2s;
}

.nameProfileInputs{
  flex: 0 0 100%;
  width: 100%;
  padding: 11px;
  font-size: 20px;
  border-radius: 8px;
  background-color: rgba(255,255,255,0.08);
  border: 1px solid rgba(255,255,255,0.09);
}

.shortProfileInputs{
  flex: 0 0 100%;
  width: 100%;
  padding: 11px;
  font-size: 20px;
  border-radius: 8px;
  background-color: rgba(255,255,255,0.08);
  border: 1px solid rgba(255,255,255,0.09);
}

.longProfileInputs{
  flex: 0 0 100%;
  width: 100%;
  min-height: 50px;
  max-height: 50px;
  margin-bottom: 15px;
  padding: 11px;
  font-size: 18px;
  font-family: 'proxima-nova', sans-serif;
  border-radius: 8px;
  background-color: rgba(255,255,255,0.08);
  border: 1px solid rgba(255,255,255,0.09);
  color: #eeeeee !important;
}

.longProfileInputs::placeholder{
  color: #888888 !important;
}

.profileInputTitle{
  font-size: 15px;
  padding-left: 2px;
  margin-bottom: 3px;
  width: 100%;
}

.profileButton{
  margin-top: 22px !important;
  display: inline-block;
  height: 40px;
  width: 100%;
  font-size: 18px;
  font-family: 'proxima-nova', sans-serif;
  letter-spacing: 1.7px;
  font-weight: 800px;
  color: #eeeeee;
  border: 0px;
  border-radius: 8px;
  cursor: pointer;
  transition-duration: 0.1s;
}

.throwaway{
  margin-top: -60px;
  width: 100px;
}
.profileButton:hover{
  opacity: 70%;
  transition-duration: 0.1s;
}

#editProfileButton{
  background-image: var(--gradient);
  display: inline-block;
}

#saveProfileButton{
  background-image: linear-gradient(70deg,#36bf70,#12fe7b);
  display: none;
}

#editPreferencesButton{
  background-image: var(--gradient);
  visibility: visible;
  transition-duration: 0s;
}

#savePreferencesButton{
  background-image: linear-gradient(70deg,#36bf70,#12fe7b);
  visibility: hidden;
  margin-top: -44px;
  transition-duration: 0s;
}

#profilePicContainer{
  width: 100%;
  text-align: center;
}

#profileProfilePic{
  margin-top: 0px;
  margin-bottom: 20px;
  height: 120px;
  width: 120px;
  object-fit: cover;
  transition-duration: 0.2s;
  border-radius: 50%;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.08);
}

#profileProfilePic:hover{
  opacity: 70%;
  transition-duration: 0.2s;
  cursor: pointer;
}

#profileCardTitle{
  margin-bottom: 20px;
  max-width: 70%;
}

#profilePicLabel{
  width: 1000px;
}

.gameProfilePic{
  display: block;
  margin-top: 20px;
  object-fit: contain;
  width: 150px;
  float: left;
  margin-right: 10px;
  transition-duration: 0.2s;
}

.gameProfilePic:hover{
  opacity: 70%;
  transition-duration: 0.2s;
  transform: scale(0.95);
  cursor: pointer;
}

/* ================================================= CREATE-TOURNAMENT =================================================================== */
.inputTitle{
  margin: 0px;
}

.inputSubtitle{
}

.createTournamentTextInput{
  width: 100%;
  margin-top: 6px;
  margin-bottom: 30px;
  height: 50px;
  padding: 11px;
  font-size: 18px;
  font-family: 'proxima-nova', sans-serif;
  border-radius: 8px;
  background-color: rgba(255,255,255,0.08);
  border: 1px solid rgba(255,255,255,0.09);
  color: #eeeeee;
}

.createTournamentTextInput::placeholder{
  color: #888888 !important;
}

.inlineInputRow{
  width: 100%;
  display: inline-block;
}

.createTournamentInputColumn{
  width: 100%;
  float: left;
}

.leftInputColumn{
}

.middleInputColumn{
}

.rightInputColumn{
}

.halfWidth{
  width: 100%;
}

.thirdWidth{
  width: 100%;
}

#tournamentDescription{
  height: 120px;
}

.createTournamentGameCarousel{
  scroll-behavior: smooth;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  overflow-x: scroll;
  display: inline-block;
  width: 100%;
  height: 290px;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 30px;
}

.createTournamentGamesLabel{
  display: inline-block;
  margin: 10px;
  width: 172px;
  height: 250px;
  transition-duration: 0.2s;
  cursor: pointer;
  filter: none;
}

.createTournamentGamesLabel:hover{
  transition-duration: 0.2s;
  transform: translateY(-4px);
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.45);
}

.uncheckedGamesLabel{
  filter: grayscale(97%);
}

.createTournamentGamesRadio{
  display: none;
}

.createTournamentGamesImage{
  width: 172px;
  height: 250px;
  border-radius: 4px;
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.35);
}

.createTournamentPlatform{
  margin-bottom: 30px;
  display: inline-block;
  width: 100%;
}

.createTournamentPrizing{
  margin-bottom: 30px;
  display: inline-block;
  width: 100%;
}

#newTournamentPrizingRow{
  display: none;
}

.createTournamentParticipantType{
  margin-bottom: 30px;
  display: inline-block;
  width: 100%;
}

.createTournamentLabel{
  margin-top: 6px;
  margin-bottom: 0px;
  text-align: center;
  border-radius: 4px;
  background-color: var(--tournamentCardColor);
  width: 50%;
  max-width: 135px;
  height: 44px;
  color: #888888;
  padding-top: 8px;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 0.2s;
  border: 3px solid var(--tournamentCardColor);
}

.createTournamentLabel:hover{
  transition-duration: 0.2s;
  transform: translateY(-2px);
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.25);
}

.createTournamentLabelChecked{
  background-color: var(--tournamentCardColorHover);
  border: 2px solid var(--aquamarine);
  color: #eeeeee;
}

.createTournamentInput{
  display: none;
}

.createTournamentIcon{
  padding-right: 8px;
}

.createTournamentSubmitButton{
  margin-top: 20px;
}

/* EMAIL PREFERENCES PAGE CODE */
.preferenceCheckbox{
  width: 40px;
}
.preferenceLabel{
  margin-left: 0px;
  cursor: pointer;
}
.preferenceSubtext{
  margin-left: 45px;
}
/* END EMAIL PREFERENCES PAGE CODE */


/* TOURNAMENT INFO PAGE CODE */
.tournamentInfoPageContainer{
  margin-top: 70px;
}

#participantsNavbar{
  display: none;
}

#bracketNavbar{
  display: none;
}

#tournamentTitle{
  color: #eeeeee;
  margin-bottom: 0px;
  padding-top: 30px;
  padding-left: 42px;
  padding-right: 42px;
  letter-spacing: 0.8px;
}

.quickDetailHeader{
  background-color: rgba(255,255,255,0.07);
  margin-top: -20px;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

.tournamentQuickDetails{
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 10px;
  padding-bottom: 15px;
  flex-wrap: wrap;
}

.quickDetail{
  color: #aaaaaa;
  list-style: none;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  height: auto;
}

.quickDetailIcon{
  display: inline-block;
  margin-top: 9px !important;
  font-size: 15px !important;
  width: 30px !important;
  padding-right: 10px !important;
}

.quickDetailText{
  color: #aaaaaa;
  font-size: 15px;
  display: inline-block;
  letter-spacing: 0.8px;
  margin: 0px;
}


.quickNavbar{
  list-style: none;
}

.quickNavbarItem{
  display: inline-block;
  padding-left: 14px;
  padding-right: 14px;
  cursor: pointer;
  border-bottom: 4px solid rgba(35,242,172,0);
}
.quickNavbarItem:hover{
  border-bottom: 4px solid rgba(35,242,172,0.3);
}

.quickNavbarItemSelected{
  border-bottom: 4px solid rgba(35,242,172,1);
}

.quickNavbarItemLink:hover{
  text-decoration: none;
}


.tournamentInfoRow{
  padding-bottom: 20px;
  flex-wrap: wrap;
  width: 100%;
}

.noBottomPadding{
  padding-bottom: 0px;
}

.tournamentInfoColumn{
  min-width: 270px;
  width: 30%;
  float: left;
  display: block;
}

.tournamentInfoSubheader{
  font-size: 15px;
  max-width: 150px;
}

.tournamentInfoDetail{
}

.font15{
  font-size: 15px;
}

.font18{
  font-size: 18px;
}

.font22{
  font-size: 22px;
}

.font30{
  font-size: 30px;
}

.goldColor{
  color: #FFC000;
}

.silverColor{
  color: #999999;
}

.bronzeColor{
  color: #9a6532;
}

.tournamentInfoPrizingIcon{
  padding-right: 12px;
  width: 36px !important;
  font-size: 24px !important;
  display: inline-block;
  margin-top: 0px !important;
}

.tournamentInfoDetail{
  display: inline-block;
}

.prizingList{
  list-style: none;
  padding-top: 5px;
  padding-left: 0px;
  margin-left: 0px;
  width: 250px;
}

.prizingListItem{
  padding-bottom: 7px;
}

.clearFloat{
  clear: both;
}

#participantsTab{
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.infoParticipant{
  margin: 10px;
  display: inline-block;
  border-radius: 8px;
  height: 55px;
  min-width: 260px;
  width: 23%;
  background-color: rgba(255,255,255,0.07);
}

.gradientSide{
  display: inline-block;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  height: 55px;
  float: left;
  width: 8px;
  background-image: var(--gradient);
}

.infoParticipantPicContainer{
  float: left;
  display: inline-block;
  height: 55px;
  width: 55px;
}

.infoParticipantPic{
  height: 55px;
  width: 55px;
  object-fit: cover;
}

.infoParticipantNameContainer{
  height: 55px;
  float: left;
  width: calc(100% - 63px);
  display: inline-block;
  overflow: hidden;
}

.infoParticipantName{
  display: table-cell;
  height: 55px;
  vertical-align: middle;
  margin:0px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  font-size: 16px;
  color: #aaaaaa;
}

/* END TOURNAMENT INFO PAGE CODE */

#mobilebar{
  display: block;
}

#page404{
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.container404{
  text-align: center;
}

.logo404{
  width: 80%;
  max-width: 300px;
  object-fit: contain;
}

.h1404{
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  font-size: 30px;
  text-align: center;
  color: #aaaaaa !important;
}

.h2404{
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  color: #eeeeee !important;
}

.h3404{
  text-align: center;
  font-size: 18px;
  color: #aaaaaa !important;
}

.buttons404{
  padding-top: 30px;
  text-align: center;
  display: inline-block;
}

.button404{
  display: inline-block;
  letter-spacing: 0.8px;
}

/* THE BELOW SECTION IS MEANT FOR MOBILE DEVICES ONLY */
@media only screen and (min-width: 480px){
  #firstGreetingMessage{
    font-size: 50px;
  }

  .row{
    margin-left: 50px !important;
    margin-right: 50px !important;
  }
  .halfWidth{
    width: 50%;
  }

  .thirdWidth{
    width: 33.3333%;
  }

  .leftInputColumn{
    padding-right: 2.5%;
  }

  .middleInputColumn{
    padding-right: 1.25%;
    padding-left: 1.25%;
  }

  .rightInputColumn{
    padding-left: 2.5%;
  }


  .main-page{
    width: 100vw;
    padding-top: 120px;
  }

  .userInfobar{
    display: block;
  }
  /*SIDEBAR ON DESKTOP*/
  .fa-2x {
  font-size: 2em;
  }

  .fa-lg{
    font-size: 1.3em !important;
  }

  .fa {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 26px;
  text-align: center;
  vertical-align: middle;
  font-size:20px;
  font-weight: 200;
  margin-top: 13px;
  }

  .sidebarLogo{
    margin-right: auto;
    max-width: 225px;
    max-height: 61px;
    display: block;
  }

  #boostsMessage{
    font-size: 50px;
  }

  #sidebar{
    display: block;
  }
  #mobilebar{
    display: none;
  }

  .profileButton{
    margin-top: -60px;
    margin-right: 0px;
  }
  #profileProfilePic{
    height: 200px;
    width: 200px;
  }
  .wideCardContent{
    margin-top: 42px;
    margin-bottom: 42px;
    margin-left: 56px;
    margin-right: 56px;
  }

  .tournamentInfoPageContainer{
    margin-top: 150px;
  }
}

@media only screen and (min-width: 700px){
  #profilePic{
    display: flex;
  }

  .boostsTitle{
    max-width: 100%;
  }

  .boostsGraphic{
    top: 40px;
    right: 0px;
    height: 200px;
    width: 200px;
    position: absolute;
  }
}

@media only screen and (min-width: 900px){
  .secondaryStatCard{
    display: none;
  }

  .singleColumn{
    width: 100%;
  }

  .cardColumn{
    width: 50%;
  }
  .column{
    width: 47%;
  }
  .leftColumn{
    margin-right: 3%;
  }
  .rightColumn{
    margin-left: 3%;
  }
  .tournamentCard{
    flex: 0 0 50%;
    max-width: 50%;
  }
  .smallCard{
    flex: 0 0 50%;
    max-width: 50%;
  }
  .statCard{
    flex: 0 0 100%;
    max-width: 100%;
  }
  .longYCard{
    flex: 0 0 50%;
    max-width: 50%;
  }
  .profileCard{
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
  .carouselCardBackground{
    width: 95%;
  }
  .shortProfileInputs{
    flex: 0 0 50%;
    width: 50%;
  }
  .nameProfileInputs{
    flex: 0 0 50%;
    width: calc(100%-210px);
  }
}

@media only screen and (min-width: 1200px){
  .secondaryStatCard{
    display: block;
  }

  .tournamentCard{
    flex: 0 0 25%;
    max-width: 25%;
  }
  .smallCard{
    flex: 0 0 25%;
    max-width: 25%;
  }
  .statCard{
    flex: 0 0 50%;
    max-width: 50%;
  }
  .carouselCardBackground{
    width: 97.3%;
  }
}

#myTournaments{
  display: none;
}

#myHostedTournaments{
  display: none;
}

@-webkit-keyframes flow {
0%{background-position:0% 50%}
50%{background-position:100% 50%}
100%{background-position:0% 50%}
}
@-moz-keyframes flow {
0%{background-position:0% 50%}
50%{background-position:100% 50%}
100%{background-position:0% 50%}
}
@-o-keyframes flow {
0%{background-position:0% 50%}
50%{background-position:100% 50%}
100%{background-position:0% 50%}
}
@keyframes flow {
0%{background-position:0% 50%}
50%{background-position:100% 50%}
100%{background-position:0% 50%}
}
