body{
  overflow-x: hidden;
  margin: 0px;
  width: 100vw;
  min-height: 100vh;
  background-color: #EDF5FF !important;
}

h1{
  font-family: 'Heebo', sans-serif !important;
  font-weight: bold;
  color: #232323;
}

h2{
  font-family: 'Heebo', sans-serif !important;
  color: #232323;
}

h3{
  font-family: 'Heebo', sans-serif !important;
  color: #232323;
}

h4{
  font-family: 'Heebo', sans-serif !important;
  color: #232323;
}

h5{
  font-family: 'Heebo', sans-serif !important;
  color: #232323;
}

h6{
  font-family: 'Heebo', sans-serif !important;
  color: #777777 !important;
  text-transform: uppercase;
}

p{
  font-family: 'Heebo', sans-serif;
  color: #232323;
}

.main-page{
  width: calc(100vw: - 60px);
  margin-left: 60px;
}

.headerImage{
  width: 100vw;
  z-index: -1000;
  height: 400px;
  position: absolute;
  top: 0;
  left: 0;
}

.gradientHeader{
  background-image: linear-gradient(135deg,#0069ff,#00dbff);
}

#tournamentWallpaper{
  background-repeat: no-repeat;
  background-size: cover;
}

.overwatchWallpaper{
  background-image: url('../media/game_wallpapers/OVERWATCH-gameplay.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.valorantWallpaper{
  background-image: url('../media/game_wallpapers/VALORANT-gameplay.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.fortniteWallpaper{
  background-image: url('../media/game_wallpapers/FORTNITE-gameplay.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.smashWallpaper{
  background-image: url('../media/game_wallpapers/SMASH-gameplay.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.prizingIcons{
  width: 10%;
  height: 10%;
  object-fit: contain;
}

.platformIcons{
  width: 10%;
  height: 10%;
  object-fit: contain;
}

.gradientTextAnimated{
  font-weight: bold;
  background: -webkit-linear-gradient(45deg, #0073ff, #00d7ff);
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  -webkit-animation: flow 3.5s ease infinite;
  -moz-animation: flow 3.5s ease infinite;
  -o-animation: flow 3.5s ease infinite;
  animation: flow 3.5s ease infinite;
}

@-webkit-keyframes flow {
0%{background-position:0% 50%}
50%{background-position:100% 50%}
100%{background-position:0% 50%}
}
@-moz-keyframes flow {
0%{background-position:0% 50%}
50%{background-position:100% 50%}
100%{background-position:0% 50%}
}
@-o-keyframes flow {
0%{background-position:0% 50%}
50%{background-position:100% 50%}
100%{background-position:0% 50%}
}
@keyframes flow {
0%{background-position:0% 50%}
50%{background-position:100% 50%}
100%{background-position:0% 50%}
}


.gradientButton{
  display: block;
  font-size: 18px;
  background-image: linear-gradient(90deg, #0084ff, #00c6ff);
  font-family: 'Heebo', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  padding-left: 30px;
  padding-right: 30px;
  width: auto;
  height: 44px;
  color: white;
  border: transparent;
  border-radius: 8px;
  transition-duration: 0.2s;
}

.gradientButton:hover{
  opacity: 70%;
  transition-duration: 0.2s;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
  transform: translateY(-1px);
}

.dashboardIcons{
  float: right;
  margin-top: 10px;
  width: 50px;
  height: 50px;
}

.fa-2x {
font-size: 2em;
}

.fa-lg{
  font-size: 1.33em;
}

.fa {
position: relative;
display: table-cell;
width: 60px;
height: 30px;
text-align: center;
vertical-align: middle;
font-size:20px;
font-weight: 200;
margin-top: 16px;
}


.main-menu:hover,nav.main-menu.expanded {
width:250px;
overflow:hidden;
}

.main-menu {
background:#ffffff;
box-shadow: 1px 0px 12px 0px rgba(10,10,10,0.15);
border-right:0px solid #0084ff;
border-image:
    linear-gradient(
      to bottom,
      #0084ff,
      #00c6ff
    ) 1 100%;
position:fixed;
top:0;
bottom:0;
height:100%;
left:0;
width:60px;
overflow:hidden;
-webkit-transition:width .25s ease-in-out;
transition:width .25s ease-in-out;
-webkit-transform:translateZ(0) scale(1,1);
z-index:1000;
}

.main-menu>ul {
margin:7px 0;
}

.main-menu li {
position:relative;
display:block;
width:250px;
}

.main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:#0084ff;
font-family: "Heebo", sans-serif;
font-size: 15px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all 0.1s linear;
transition:all 0.1s linear;

}

.main-menu .nav-icon {
position:relative;
display:table-cell;
width:60px;
height:36px;
text-align:center;
vertical-align:middle;
font-size:18px;
}

.main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:190px;
font-family: 'Heebo', sans-serif;
letter-spacing: 1px;
}

.main-menu>ul.logout {
position:absolute;
left:0;
bottom:0;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#ffffff;
background-image: linear-gradient(135deg,#0069ff,#00dbff);
}
.area {
float: left;
background: #e2e2e2;
width: 100%;
height: 100%;
}
@font-face {
  font-family: 'Heebo', sans-serif;
  font-weight: 300;
}

#firstGreetingMessage{
  color: #ffffff;
  display: normal;
  font-size: 50px;
  text-align: center;
}

#greetingMessage{
  color: #ffffff;
  display: none;
  font-size: 50px;
  text-align: center;
}

/* BOOSTS PAGE CODE */
#boostsMessage{
  color: #ffffff;
  font-size: 50px;
  text-align: center;
}

.boostsRow{
  display: table;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.boostsDetails{
  float: left;
  max-width: 60%;
  font-size:17px;
  line-height: 27px;
}

.boostsGraphic{
  margin-left: 5%;
  float: right;
  width: 35%;
  height: 35%;
  margin-top: -2vw;
}

.clear{
  clear: both;
}

.boostsList{
  padding-left: 20px;
  float: left;
  max-width: 60%;
  list-style-type: circle;
}

.boostsListItem{
  font-size: 17px;
}

.boostsTitle{
  padding-bottom: 15px;
}

.boostsPrice{
text-align: center;
}

.priceDetail{
  font-size: 18px;
}
/* END BOOSTS PAGE CODE */



.userInfobar{
  top: 0;
  right: 0;
  background-color: transparent;
  width: auto;
  height: 80px;
  position: absolute;
}

.userPicInfobar{
  position: relative;
  float: right;
  margin-top: 16px;
  margin-right: 20px;
  height: 48px;
  width: 48px;
  transition-duration: 0.2s;
}

.userPicInfobar:hover{
  opacity: 70%;
  transition-duration: 0.2s;
}

.unlimitedIconInfobar{
  position: absolute;
  right: 16px;
  top: 46px;
  visibility: hidden;
}

.userNameInfobar{
  padding-top: 29px;
  padding-right: 16px;
  float: right;
  position: relative;
  color: #ffffff;
  text-align: center;
  width: auto;
}

.userNameInfobar:hover{
  color: rgba(255,255,255,0.7);
}

.row{
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin-left: 0px;
  margin-right: 0px;
}

.column{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.leftColumn{
  margin: 0px;
}

.rightColumn{
  margin: 0px;
}


.tournamentCard{
  flex: 0 0 100%;
  max-width: 100%;
  height: 430px;
  background: transparent;
  transition-duration: 0.2s;
  visibility: hidden;
}

.tournamentCard:hover{
  transform: scale(1.03);
  transition-duration: 0.2s;
}

.tournamentCardBackground{
  margin-left: auto;
  margin-right: auto;
  height: 80%;
  width: 90%;
  border-radius: 12px;
  border: 0px;
  box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.2);
  background-color: #ffffff;
}

.tournamentCardContent{
  margin: 0px;
}

.tournamentCardText{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.tournamentCardContent > img{
  height: 150px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.tournamentCardTitle{
  font-size: 19px;
  letter-spacing: 1px;
  font-weight: 700;
  color: #232323 !important;
  text-align: center;
  font-family: 'Heebo', sans-serif;
}

.tournamentCardDetails{
  list-style-type: none;
  margin-top: 22px;
  line-height: 24px;
  margin-left: -30px;
}

.tournamentCardDetail{
  font-size: 14px;
  color: #555555 !important;
  font-family: 'Heebo', sans-serif;
}

.tournamentCardButton{
  font-family: 'Heebo', sans-serif;
  background-image: linear-gradient(135deg,#0069ff,#00dbff);
  margin-top: 13px;
  height: 50px;
  border: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  color: #ffffff;
  width: 100%;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.tournamentCardButton:hover{
  opacity: 70%;
}

.tournamentCardButtonSigned{
  font-family: 'Heebo', sans-serif;
  background-image: linear-gradient(70deg,#36bf70,#12fe7b);
  margin-top: 13px;
  height: 50px;
  border: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  color: #ffffff;
  width: 100%;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.smallCard{
  flex: 0 0 100%;
  max-width: 100%;
  height: 200px;
  background: transparent;
  transition-duration: 0.2s;
}

.smallCard:hover{
  transform: scale(1.03);
  transition-duration: 0.2s;
}

.smallCardBackground{
  margin-left: auto;
  margin-right: auto;
  height: 80%;
  width: 80%;
  border-radius: 12px;
  border: 1px solid rgba(0,0,0,0.05);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.05);
  background-color: #ffffff;
}

.smallCardContent{
  margin-top: 18px;
  margin-bottom: 18px;
  margin-left: 25px;
  margin-right: 25px;
}

.smallCardHeader{
  font-size: 15px;
}

.longYCard{
  flex: 0 0 100%;
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.longYCardBackground:hover{
  transform: scale(1.02);
  transition-duration: 0.2s;
  cursor: pointer;
}

.longYCardBackground{
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 80%;
  border-radius: 12px;
  border: 1px solid rgba(0,0,0,0.05);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.05);
  background-color: #ffffff;
  transition-duration: 0.2s;
}

.longYCardContent{
  margin-top: 33px;
  margin-bottom: 33px;
  margin-left: 42px;
  margin-right: 42px;
}

.wideCard{
  flex: 0 0 100%;
  max-width: 100%;
  height: auto;
}

.wideCardBackground{
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 80%;
  border-radius: 12px;
  border: 1px solid rgba(0,0,0,0.05);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.05);
  background-color: #ffffff;
}

.wideCardContent{
  margin-top: 21px;
  margin-bottom: 12px;
  margin-left: 28px;
  margin-right: 28px;
}

#boostsContainer{
  margin-top: 85px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#noBoostActiveText{
  margin-top: 30px;
}

#boostActiveText{
  margin-top: 30px;

}

#profileStatsCard{
  display: none;
}

#profilePic{
  float: right;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
  transition-duration: 0.2s;
  display: none;
  margin-bottom: 30px;
  margin-left: 30px;
}

#profilePic:hover{
  opacity: 65%;
  transition-duration: 0.2s;
}

.nameProfileInputs{
  flex: 0 0 100%;
  width: 100%;
  padding: 11px;
  font-size: 20px;
  border-radius: 11px;
  background-color: #f6faff;
  border: 1px solid #dddddd;
}

.shortProfileInputs{
  flex: 0 0 100%;
  width: 100%;
  padding: 11px;
  font-size: 20px;
  border-radius: 11px;
  background-color: #f6faff;
  border: 1px solid #dddddd;
}

.longProfileInputs{
  flex: 0 0 100%;
  width: 100%;
  max-height: 50px;
  margin-bottom: 15px;
  padding: 11px;
  font-size: 16px;
  font-family: 'Heebo', sans-serif;
  border-radius: 11px;
  background-color: #f6faff;
  border: 1px solid #dddddd;
}

.profileInputTitle{
  font-size: 14px;
  margin-bottom: 3px;
  width: 100%;
}

.profileButton{
  position: relative;
  float: right;
  display: inline-block;
  margin-top: -100px;
  margin-right: -20px;
  height: 40px;
  min-width: 70px;
  max-width: 100px;
  width: 40%;
  font-size: 18px;
  font-family: 'Heebo', sans-serif;
  letter-spacing: 1.7px;
  font-weight: 800px;
  color: #ffffff;
  border: 0px;
  border-radius: 9px;
  cursor: pointer;
  transition-duration: 0.1s;
}

.throwaway{
  margin-top: -60px;
  width: 100px;
}
.profileButton:hover{
  opacity: 70%;
  transition-duration: 0.1s;
}

#editProfileButton{
  background-image: linear-gradient(135deg,#0069ff,#00dbff);
  visibility: visible;
}

#saveProfileButton{
  background-image: linear-gradient(70deg,#36bf70,#12fe7b);
  visibility: hidden;
}

#editPreferencesButton{
  background-image: linear-gradient(135deg,#0069ff,#00dbff);
  visibility: visible;
  transition-duration: 0s;
}

#savePreferencesButton{
  background-image: linear-gradient(70deg,#36bf70,#12fe7b);
  visibility: hidden;
  margin-top: -44px;
  transition-duration: 0s;
}

#profilePicContainer{
  width: 100%;
  text-align: center;
}

#profileProfilePic{
  margin-top: 0px;
  margin-bottom: 20px;
  height: 120px;
  width: 120px;
  object-fit: cover;
  transition-duration: 0.2s;
  border-radius: 50%;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.08);
}

#profileProfilePic:hover{
  opacity: 70%;
  transition-duration: 0.2s;
  cursor: pointer;
}

#profileCardTitle{
  margin-bottom: 20px;
  max-width: 70%;
}

#profilePicLabel{
  width: 1000px;
}

.gameProfilePic{
  display: block;
  margin-top: 20px;
  object-fit: contain;
  width: 150px;
  float: left;
  margin-right: 10px;
  transition-duration: 0.2s;
}

.gameProfilePic:hover{
  opacity: 70%;
  transition-duration: 0.2s;
  transform: scale(0.95);
  cursor: pointer;
}

#fortniteID{
  display: none;
}

#overwatchID{
  filter: grayscale(100%);
}

#smashID{

}

#valorantID{

}

/* ADMIN PAGE CODE BELOW */

/* END ADMIN PAGE CODE */


/* EMAIL PREFERENCES PAGE CODE */
.preferenceCheckbox{
  width: 40px;
}
.preferenceLabel{
  margin-left: 0px;
  cursor: pointer;
}
.preferenceSubtext{
  margin-left: 45px;
}
/* END EMAIL PREFERENCES PAGE CODE */


/* PRETOURNAMENT INFO PAGE CODE */
#tournamentTitle{
  margin-bottom: 0px;
  padding-top: 30px;
  padding-left: 42px;
  letter-spacing: 0.8px;
  font-weight: bold;
}

.quickDetailHeader{
  background-color: #ebf0f0;
  margin-top: -20px;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

.tournamentQuickDetails{
  margin-left: -5px;
  padding-top: 10px;
  padding-bottom: 15px;
  flex-wrap: wrap;
}

.quickDetail{
  list-style: none;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  height: auto;
}

.quickDetailIcon{
  display: inline-block;
  margin-top: 12px;
  font-size: 15px;
  width: 20px;
  padding-right: 26px;
}

.quickDetailText{
  font-size: 15px;
  display: inline-block;
  letter-spacing: 0.8px;
  margin: 0px;
}


.quickNavbar{
  list-style: none;
}

.quickNavbarItem{
  display: inline-block;
  padding-left: 14px;
  padding-right: 14px;
  cursor: pointer;
  border-bottom: 4px solid rgba(0,132,255,0);
}
.quickNavbarItem:hover{
  border-bottom: 4px solid rgba(0,132,255,0.3);
}

.quickNavbarItemSelected{
  border-bottom: 4px solid rgba(0,132,255,1);
}

.quickNavbarItemLink:hover{
  text-decoration: none;
}


.tournamentInfoRow{
  padding-bottom: 20px;
  flex-wrap: wrap;
  width: 100%;
}

.noBottomPadding{
  padding-bottom: 0px;
}

.tournamentInfoColumn{
  min-width: 270px;
  width: 30%;
  float: left;
  display: block;
}

.tournamentInfoSubheader{
  font-size: 15px;
  max-width: 150px;
}

.tournamentInfoDetail{
}

.font15{
  font-size: 15px;
}

.font18{
  font-size: 18px;
}

.font22{
  font-size: 22px;
}

.font30{
  font-size: 30px;
}

.goldColor{
  color: #FFC000;
}

.silverColor{
  color: #999999;
}

.bronzeColor{
  color: #9a6532;
}

.tournamentInfoPrizingIcon{
  font-size: 24px;
  display: inline-block;
  margin-top: 0px;
}

.tournamentInfoDetail{
  display: inline-block;
}

.prizingList{
  list-style: none;
  padding-top: 5px;
  margin-left: -54px;
  width: 250px;
}

.prizingListItem{
  padding-bottom: 7px;
}

.clearFloat{
  clear: both;
}

/* END PRETOURNAMENT INFO PAGE CODE */


/* THE BELOW SECTION IS MEANT FOR MOBILE DEVICES ONLY */
@media only screen and (min-width: 480px){
  .profileButton{
    margin-top: -60px;
    margin-right: 0px;
  }
  #profileProfilePic{
    height: 200px;
    width: 200px;
  }
  .wideCardContent{
    margin-top: 42px;
    margin-bottom: 42px;
    margin-left: 56px;
    margin-right: 56px;
  }
}

@media only screen and (min-width: 700px){
  #profilePic{
    display: flex;
  }
  .row{
    margin-left: 50px !important;
    margin-right: 50px !important;
  }
}

@media only screen and (min-width: 900px){
  .column{
    width: 47%;
  }
  .leftColumn{
    margin-right: 3%;
  }
  .rightColumn{
    margin-left: 3%;
  }
  .tournamentCard{
    flex: 0 0 50%;
    max-width: 50%;
  }
  .smallCard{
    flex: 0 0 50%;
    max-width: 50%;
  }
  .longYCard{
    flex: 0 0 50%;
    max-width: 50%;
  }
  .carouselCardBackground{
    width: 90%;
  }
  .shortProfileInputs{
    flex: 0 0 50%;
    width: 50%;
  }
  .nameProfileInputs{
    flex: 0 0 50%;
    width: calc(100%-210px);
  }
}

@media only screen and (min-width: 1200px){
  .tournamentCard{
    flex: 0 0 25%;
    max-width: 25%;
  }
  .smallCard{
    flex: 0 0 25%;
    max-width: 25%;
  }
  .carouselCardBackground{
    width: 95%;
  }
}
