:root{
  --gradient: linear-gradient(120deg,#23F2AC,#23D0F2);
  --aquamarine: #23F2AC;
  --turquoise: #23D0F2;
  --white: #eeeeee;
  --topbarColor: #161722;
  --background: #101017;
  --cardColor: #171921;
  --tournamentCardColor: #242529;
  --tournamentCardColorHover: #303137;
  --darkFont: #727276;

  --filterLabelWidth: 125px;
}

.footer{
  border-top: 1px solid rgba(100,100,100,0.2);
  width: 100%;
  height: auto;
  background: #101017;
}

.footerContainer{
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 0%;
  padding-right: 0%;
  text-align: left;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.footerColumn{
  float: left;
  height: auto;
  padding: 10px;
  padding-bottom: 0px;
  width: 100%;
}

#footerCopyrightText{
  margin-left: 20px;
  color: #888888;
}

.footerList{
  list-style: none;
}

.footerListHeader{
  padding-top: 10px;
  padding-bottom: 5px;
  color: #eeeeee;
  font-size: 18px;
  font-family: 'proxima-nova', sans-serif;
  font-weight: 700;
}

.footerListLink{
  font-family: 'proxima-nova', sans-serif;
  color: #666666;
  line-height: 28px;
  font-size: 14px;
  cursor: pointer;
}

.footerListLink:hover{
  color: #cccccc;
}

.footerIconRow{
  margin-top: 0px;
}

.footerIcon{
  font-size: 26px;
  padding: 5px;
  color: #666666;
  cursor: pointer;
}
.footerIcon:hover{
  color: #cccccc;
}

#footerColumn1{
  padding-left: 35px;
}

#footerColumn4{
  padding-left: 45px;
  margin-bottom: 40px;
}

@media (min-width: 480px){
  .footerContainer{
    padding-left: 10%;
    padding-right: 10%;
    height: auto;
  }

  .footerColumn{
    height: auto;
    width: 25%;
    padding-bottom: 40px;
  }

  #footerColumn1{
    padding-left: 10px;
  }

  #footerColumn4{
    padding-left: 10px;
    margin-top: 40px;
    margin-bottom: 0px;
  }
}
