:root{
  --gradient: linear-gradient(120deg,#23F2AC,#23D0F2);
  --aquamarine: #23F2AC;
  --turquoise: #23D0F2;
  --background: #202131;
  --cardColor: #2b2c3c;
  --tournamentCardColor: #3a3b4a;
}
body{
  overflow-x: hidden;
  margin: 0px;
  width: 100vw;
  min-height: 100vh;
  background-color: var(--background) !important;
}

h1{
  font-family: 'proxima-nova', sans-serif !important;
  font-weight: 700;
  color: #eeeeee;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2{
  font-family: 'proxima-nova', sans-serif !important;
  font-weight: 600 !important;
  color: rgba(255,255,255,0.9) !important;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h3{
  font-family: 'proxima-nova', sans-serif !important;
  color: rgba(255,255,255,0.9) !important;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h4{
  font-family: 'proxima-nova', sans-serif !important;
  color: rgba(255,255,255,0.9) !important;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h5{
  font-family: 'proxima-nova', sans-serif !important;
  color: rgba(255,255,255,0.9) !important;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h6{
  font-family: 'proxima-nova', sans-serif !important;
  color: #888888 !important;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p{
  font-family: 'proxima-nova', sans-serif;
  color: #eeeeee;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
    font-family: 'proxima-nova' !important;
    -webkit-font-smoothing: antialiased;
    margin-top: 0px;
    padding: 14px !important;
    width: 100%;
    font-size: 15px !important;
    border: 1px solid rgba(255,255,255,0.11);
    background-color: rgba(75,75,80,0.4);
    transition-duration: 0.2s;
    border-radius: 5px;
    color: #eeeeee !important;
}

::placeholder{
  color: #aaaaaa !important;
}

select{
  color: #eeeeee;
}

select option{
  color: #aaaaaa;
  background: var(--tournamentCardColor);
}

::placeholder{
  color: #888888;
}

.grayButton{
  display: inline-block;
  font-size: 18px;
  background-color: var(--tournamentCardColor);
  font-family: 'proxima-nova', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  padding-left: 30px;
  padding-right: 30px;
  width: auto;
  height: 44px;
  color: white;
  border: 1px solid rgba(32, 33, 49, 0.15);
  border-radius: 6px;
  transition-duration: 0.2s;
}

.grayButton:hover{
  opacity: 70%;
  transition-duration: 0.2s;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
  transform: translateY(-1px);
}

.gradientButton{
  display: inline-block;
  font-size: 18px;
  background-image: var(--gradient);
  font-family: 'proxima-nova', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  padding-left: 30px;
  padding-right: 30px;
  width: auto;
  height: 44px;
  color: white;
  border: 1px solid rgba(32, 33, 49, 0.15);
  border-radius: 6px;
  transition-duration: 0.2s;
}

.gradientButton:hover{
  opacity: 70%;
  transition-duration: 0.2s;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
  transform: translateY(-1px);
}

.indexPage{
  width: 100%;
}

.tallIndex{
  height:750px;
  background-color: var(--background);
  background-size: cover;
}

#firstLanding{
  background-image: url("../media/splash_art/zedsplashmobile.jpg");
}

.shortIndex{
  height: 400px;
  background-color: var(--background);
}

.grayscaleOverlay{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
}

.gradientOverlay{
  width: 100%;
  height: 100%;
  background-image: linear-gradient(90deg,rgba(35, 242, 172, 0.5),rgba(35, 208, 242, 0.5));
}

.fadeOverlay{
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, rgba(0,0,0,0), rgba(32, 33, 49, 1) 95%);
}

.contentBox{
  margin-left: auto;
  margin-right: auto;
  padding-top: 230px;
  padding-left: 50px;
  padding-right: 50px;
  max-width: 700px;
  text-align: center;
}

.landingHeader{
  font-size: 38.5px;
  margin: 0px;
  padding: 0px;
  padding-bottom: 17px;
  font-weight: 700;
  color: #eeeeee !important;
}

.landingSubheader{
  line-height: 22px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 18px;
  padding: 0px;
  padding-bottom: 50px;
  font-weight: 400;
  color: #aaaaaa !important;
}

#landingSubheader{
  margin-left: auto;
  margin-right: auto;
  max-width: 570px;
}

#browseGamesHeader{
  margin-top: 20px;
}

#browseGamesParagraph{
  font-size: 16px;
  padding-left: 4px;
  padding-bottom: 0px;
  cursor: pointer;
}

.browseGamesCarousel{
  white-space: nowrap;
  overflow: hidden;
  overflow-x: scroll;
  display: inline-block;
  width: 100%;
  height: 270px;
  margin-left: -10px;
  margin-right: -10px;
}

.browseGamesLabel{
  display: inline-block;
  margin: 10px;
  width: 172px;
  height: 250px;
  transition-duration: 0.2s;
  cursor: pointer;
}

.browseGamesLabel:hover{
  transition-duration: 0.2s;
  transform: translateY(-4px);
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.45);
}

.browseGamesImage{
  width: 172px;
  height: 250px;
  border-radius: 4px;
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.35);
}

.landingContent{
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  max-width: 1050px;
  width: 80%;
}

.onePlatformText{
  display: inline-block;
  width:100%;
  height: auto;
}

.onePlatformImage{
  max-width: 400px;
  width: 100%;
  display: inline-block;
  object-fit: contain;
}

#thirdLanding{
  margin-top: 60px;
}

#hostTournamentButton{
  display: none;
}

@media only screen and (min-width: 480px){
  #firstLanding{
    background-image: url("../media/splash_art/zedsplash.jpg");
  }

  #thirdLandingContent{
    margin-top: 100px;
    min-width: 800px;
  }

  #hostTournamentButton{
    display: inline-block;
  }

  .browseGamesCarousel{
    overflow-x: hidden;
  }

  .onePlatformImage{
    margin-top: -90px;
    padding-right: 5%;
  }

  .onePlatformText{
    display: inline-block;
    width: calc(100% - 404px);
    height: auto;
  }
}
