:root{
  --gradient: linear-gradient(120deg,#23F2AC,#23D0F2);
  --aquamarine: #23F2AC;
  --turquoise: #23D0F2;
  --background: #202131;
  --cardColor: #2b2c3c;
  --tournamentCardColor: #3a3b4a;
}
body{
  overflow-x: hidden;
  margin: 0px;
  width: 100vw;
  min-height: 100vh;
  background-color: var(--background) !important;
}

h1{
  font-family: 'proxima-nova', sans-serif !important;
  font-weight: 700;
  color: #eeeeee;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2{
  font-family: 'proxima-nova', sans-serif !important;
  font-weight: 600 !important;
  color: rgba(255,255,255,0.9) !important;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h3{
  font-family: 'proxima-nova', sans-serif !important;
  color: rgba(255,255,255,0.9) !important;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h4{
  font-family: 'proxima-nova', sans-serif !important;
  color: rgba(255,255,255,0.9) !important;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h5{
  font-family: 'proxima-nova', sans-serif !important;
  color: rgba(255,255,255,0.9) !important;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h6{
  font-family: 'proxima-nova', sans-serif !important;
  color: #888888 !important;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p{
  font-family: 'proxima-nova', sans-serif;
  color: #eeeeee;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
    font-family: 'proxima-nova' !important;
    -webkit-font-smoothing: antialiased;
    margin-top: 0px;
    padding: 14px !important;
    width: 100%;
    font-size: 15px !important;
    border: 1px solid rgba(255,255,255,0.11);
    background-color: rgba(75,75,80,0.4);
    transition-duration: 0.2s;
    border-radius: 5px;
    color: #eeeeee !important;
}

::placeholder{
  color: #aaaaaa !important;
}

select{
  color: #eeeeee;
}

select option{
  color: #aaaaaa;
  background: var(--tournamentCardColor);
}

::placeholder{
  color: #888888;
}

.grayButton{
  display: inline-block;
  font-size: 18px;
  background-color: var(--tournamentCardColor);
  font-family: 'proxima-nova', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  padding-left: 30px;
  padding-right: 30px;
  width: auto;
  height: 44px;
  color: white;
  border: 1px solid rgba(32, 33, 49, 0.15);
  border-radius: 6px;
  transition-duration: 0.2s;
}

.grayButton:hover{
  opacity: 70%;
  transition-duration: 0.2s;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
  transform: translateY(-1px);
}

.gradientButton{
  display: inline-block;
  font-size: 18px;
  background-image: var(--gradient);
  font-family: 'proxima-nova', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  padding-left: 30px;
  padding-right: 30px;
  width: auto;
  height: 44px;
  color: white;
  border: 1px solid rgba(32, 33, 49, 0.15);
  border-radius: 6px;
  transition-duration: 0.2s;
}

.gradientButton:hover{
  opacity: 70%;
  transition-duration: 0.2s;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
  transform: translateY(-1px);
}

.fa-bars{
  padding-right: 7px;
}

.solidNavbar{
  background-color: var(--cardColor) !important;
}

.topNavbar{
  top: 0;
  width: 100%;
  height: 70px;
  display: block;
  position: fixed;
  background-color: rgba(0,0,0,0.30);
  z-index: 100;
  border-bottom: 1px solid rgba(100,100,100,0.2);
  overflow: hidden;
}

.topbarLogo{
  top: 2px;
  left: 2px;
  width: 66px;
  height: 66px;
  position: fixed;
  display: block;
  object-fit: contain;
  z-index: 101;
  content: url("../media/BrackotLogo.png");
}

.topbarExpansion{
  display: none;
  top: 70px;
  width: 100%;
  height: 200px;
  position: fixed;
  background-color: var(--cardColor);
  z-index: 100;
  border-bottom: 1px solid rgba(100,100,100,0.2);
  overflow: hidden;
}

.showExpansion{
  display: block;
}

.primaryTabs{
  float: left;
  width: auto;
  position: relative;
  margin-left: 62px;
  margin-right: 10px;
}

.primaryTabsList{
  list-style: none;
  padding-left: 0px;
}

.primaryTab{
  height: 70px;
  display: none;
  padding-top: 27px;
  padding-bottom: 0px;
  padding-left: 14px;
  padding-right: 14px;
  cursor: pointer;
  border-bottom: 4px solid rgba(35,242,172,0);
}
.primaryTab:hover{
  border-bottom: 4px solid rgba(35,242,172,0.3);
}

.primaryTabLink:hover{
  text-decoration: none;
}

.secondaryTabs{
  float: right;
}

.secondaryTab{
  cursor: pointer;
}

.menuTab{
  height: 70px;
  display: inline-block;
  padding-top: 27px;
  padding-bottom: 0px;
  padding-left: 14px;
  padding-right: 14px;
  cursor: pointer;
  border-bottom: 4px solid rgba(35,242,172,0);
}

@media only screen and (min-width: 480px){
  .topbarLogo{
    top: 1px;
    left: 15px;
    width: 179px;
    height: 66px;
    content: url("../media/BrackotSidebarLogo.png");
  }

  .primaryTabs{
    margin-left: 160px;
    margin-right: 10px;
  }

  .primaryTabsList{
    padding-left: 40px;
  }

  #expandTopbarTab{
    display: none;
  }

  .primaryTab{
    display: inline-block;
  }
}

#avatar{
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.profilePic{
  right: 30px;
  top: 15px;
  position: fixed;
  height: 40px;
  width: 40px;
  transition-duration: 0.15s;
}

.profilePic:hover{
  opacity: 70%;
  transition-duration: 0.15s;
}

#unlimitedIcon{
  width: 22px;
  height: 22px;
  object-fit: cover;
}

.unlimitedIconContainer{
  position: absolute;
  right: 16px;
  top: 46px;
  visibility: hidden;
}


.navbarSearch{
  float: right;
  position: relative;
  width: auto;
  padding-top: 16px;
  height: 34px;
  margin-right: 40px;
}

.searchInput{
  width: 100%;
  height: 34px;
}

#loginButton{
  margin-top: 16px;
  margin-right: 20px;
  float: right;
  position: relative;
  display: inline-block;
  font-size: 15px;
  background-image: var(--gradient);
  font-family: 'proxima-nova', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  padding-left: 18px;
  padding-right: 18px;
  width: auto;
  height: 34px;
  color: white;
  border: transparent;
  border-radius: 4px;
  transition-duration: 0.2s;
}

#loginButton:hover{
  opacity: 70%;
  transition-duration: 0.2s;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
}

.indexPage{
  width: 100%;
}

.tallIndex{
  height:750px;
  background-color: var(--background);
  background-size: cover;
}

#firstLanding{
  background-image: url("../media/splash_art/zedsplash.jpg");
}

.shortIndex{
  height: 400px;
  background-color: var(--background);
}

.grayscaleOverlay{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
}

.gradientOverlay{
  width: 100%;
  height: 100%;
  background-image: linear-gradient(90deg,rgba(35, 242, 172, 0.5),rgba(35, 208, 242, 0.5));
}

.fadeOverlay{
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, rgba(0,0,0,0), rgba(32, 33, 49, 1) 95%);
}

.contentBox{
  margin-left: auto;
  margin-right: auto;
  padding-top: 230px;
  padding-left: 50px;
  padding-right: 50px;
  max-width: 700px;
  text-align: center;
}

.landingHeader{
  font-size: 38.5px;
  margin: 0px;
  padding: 0px;
  padding-bottom: 17px;
  font-weight: 700;
  color: #eeeeee !important;
}

.landingSubheader{
  line-height: 22px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 18px;
  padding: 0px;
  padding-bottom: 50px;
  font-weight: 400;
  color: #aaaaaa !important;
}

#landingSubheader{
  margin-left: auto;
  margin-right: auto;
  max-width: 570px;
}

.onePlatformContent{
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  max-width: 1050px;
  width: 80%;
}

.onePlatformText{
  margin-top: 80px;
  width:65%;
  padding-right: 5%;
  float: left;
}

.onePlatformImageContainer{
  height: 20px;
}

.onePlatformImage{
  object-fit: contain;
}
