* {
    font-family: 'purista-web', sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #f6faff;
}

body {
    overflow: hidden;
    background-color: #f6faff;
    margin: 0px;
    padding: 0px;
}

input {
    margin-top: 0px;
    padding: 14px;
    width: 100%;
    font-size: 17px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
    border-radius: 7px;
}

select{
  margin: 0px;
  padding: 14px;
  width: 100%;
  font-size: 17px;
  border: 1px solid #dddddd;
  border-radius: 7px;
  background-color: #ffffff;
}

h1{
    color: #262626;
    text-align: center;
    font-size: 30px;
    letter-spacing: 1.6px;
    margin-bottom: 4vh;
    text-transform: uppercase;
}

input.invalid {
    background-color: #ffdddd;
}

.Footer{
    display: none;
}
.Header{
    display: none;
}

/* FORGOT PASSWORD PAGE CODE BELOW */

#resetBtn{
    float: center;
    margin-top: 4vh;
    margin-bottom: 10px;
    background: -webkit-linear-gradient(360deg, #0084ff, #00c6ff);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 550;
    width: 150px;
    height: 44px;
    color: white;
    border: transparent;
    border-radius: 8px;
}

#forgotPasswordImage{
    float: right;
    display: none;
    width: 50vw;
    height: 100vh;
    object-fit: cover;
}
/* END FORGOT PASSWORD PAGE CODE */



/* THE BELOW IS FOR THE LOGIN PAGE */


/* BUTTONS */
#registerBtn{
    display: inline;
    float: center;
    margin-top: 4vh;
    margin-bottom: 10px;
    background: -webkit-linear-gradient(360deg, #0084ff, #00c6ff);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 550;
    width: 150px;
    height: 44px;
    color: white;
    border: transparent;
    border-radius: 8px;
}

#loginBtn{
    float: center;
    margin-top: 4vh;
    margin-bottom: 10px;
    background: -webkit-linear-gradient(360deg, #0084ff, #00c6ff);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 550;
    width: 150px;
    height: 44px;
    color: white;
    border: transparent;
    border-radius: 8px;
}
/* END BUTTONS */

#logo{
    display: inline;
    width: 200px;
    max-height: 100px;
    object-fit: cover;
    margin-top: 4vh;
    margin-right: 225px;
}

#loginImage{
    display: none;
    float: right;
    width: 50vw;
    height: 100vh;
    object-fit: cover;
}

#loginForm {
    background: #f6faff;
    width: 100vw;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10vh;
    padding: 0px;
}

.loginInput{
  margin-bottom: 10px;
}

/*Shows raw firebase code*/
#firebaseLoginDev{
  display: none; /* Display normal to show */
}

/* END LOGIN PAGE */



/* REGISTRATION PAGE BEGINS HERE */

#registrationLogo{
  display: none;
  width: 120px;
  height: 120px;
  top: 50px;
  left: 40px;
  object-fit:contain;
  position: absolute;
}

.gradientLiner{
  display: none;
  height: 20px;
  width: 100vw;
  background: -webkit-linear-gradient(360deg, #0084ff, #00c6ff);
  position: absolute;
}


/* PLAYER OR COACH INPUT BUTTONS */
input[type="radio"]{
  visibility: hidden;
  height: 0px;
  width: 0px;
}

input[type="radio"] + label{
  display: block;
  padding-top: 20px;
  font-size: 40px;
  text-align: center;
  margin-left: 5%;
  width: 90%;
  height: 100px;
  background: white;
  color: #232323;
  text-transform: uppercase;
  cursor: pointer;
  transition-duration: 0.2s;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}

input[type="radio"]:checked + label{
  transition-duration: 0.2s;
  background: -webkit-linear-gradient(360deg, #0084ff, #00c6ff);
  color: white;
}
/* END PLAYER OR COACH INPUT BUTTONS */


/*GAME SELECT*/
.gameImages{
  height: auto;
  width: 150px;
  cursor: pointer;
}

.gameCheckbox{
  position: absolute;
  visibility: hidden;
  width: 30px;
  height: 30px;
  z-index: 10;
}

.gameCheckbox:checked{
  visibility: visible;
  transition-duration: 0.2s;
  box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.4);
}

input[type="checkbox"] + label{
  margin: 10px !important;
  filter: opacity(100%);
  transition-duration: 0.2s;
}

input[type="checkbox"]:hover + label{
  filter: opacity(70%);
  transition-duration: 0.2s;
  transform: scale(0.97);
}

input[type="checkbox"]:checked + label{
  transform: scale(1.06);
  transition-duration: 0.2s;
  box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.23);
}

#gameRow{
  margin-left: auto;
  margin-right: auto;
  width: 345px;
}
/*END GAME SELECT*/

.registrationTitle{
  font-size: 7vw;
  font-weight: 500;
  margin-bottom: 10px;
}

.registrationText{
  font-size: 18px;
  letter-spacing: 1.7px;
  color: #454545;
  text-align: center;
  margin-bottom: 3vh;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.nextButton{
  display:block;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  margin-top: 8vh;
  margin-bottom: 1%;
  background: -webkit-linear-gradient(360deg, #0084ff, #00c6ff);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  width: 70vw;
  height: 44px;
  color: white;
  border: transparent;
  border-radius: 8px;
}

.tab{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
}

.inputRow{
  margin-left: auto;
  margin-right: auto;
  width: 75vw;
}

#nameTab{
  margin-top: 25vh;
}

#emailTab{
  margin-top: 22vh;
}

#roleTab{
  margin-top: 15vh;
}

#locationTab{
  margin-top: 25vh;
}

#gamesTab{
  margin-top: 6vh;
}

#profilePicTab{
  margin-top: 15vh;
}

#addProfilePic{
  object-fit: contain;
  width: 200px;
  height: auto;
}

#profilePicRow{
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}
/* END REGISTRATION PAGE */



@media only screen and (min-width: 690px){
  input{
    width: 250px;
  }

  /* REGISTRATION PAGE CODE */
  .inputRow{
    width: 505px;
  }

  .gradientLiner{
    display: block;
  }

  #registrationLogo{
    display: block;
  }

  .registrationTitle{
    font-size: 60px;
  }

  .registrationText{
    font-size: 19px;
    margin-bottom: 6vh;
    width: 680px;
  }

  .nextButton{
    width: 350px;
  }

  #nameTab{
    margin-top: 25vh;
  }

  #emailTab{
    margin-top: 25vh;
  }

  #roleTab{
    margin-top: 20vh;
  }

  #locationTab{
    margin-top: 25vh;
  }

  #gamesTab{
    margin-top: 15vh;
  }

  #profilePicTab{
    margin-top: 15vh;
  }

  input[type="radio"] + label{
    margin-left: 0px;
    margin-bottom: 0px;
    width: 100%;
    display: block;
  }

  #roleRow{
    margin-left: auto;
    margin-right: auto;
    width: 700px;
  }

  #spacing{
    margin-left: auto;
    margin-right: auto;
    width: 55%;
  }

  #roleText{
    margin-bottom: 20px;
  }

  #gameRow{
    width: 695px;
  }

  select{
    width: 250px;
  }
  /* END REGISTRATION PAGE CODE */
}

@media only screen and (min-width: 900px){
  /* FORGOT PASSWORD CODE */
  #forgotPasswordImage{
    display: inline;
  }

  #resetBtn{
    margin-top: 50px;
    margin-right: 214px;
  }

  .forgotPasswordInput{
    margin-left: -10px;
    width: 360px;
  }
  /*END FORGOT PASSWORD CODE */


  /* LOGIN PAGE CODE */
  #loginImage{
    display: inline;
  }

  #loginBtn{
    margin-right: 10px;
  }

  #registerBtn{
    margin-right: 85px;
  }

  #logInText{
    margin-left: 0px;
    margin-bottom: 40px;
  }

  #forgot-password-block{
    margin-left: -240px;
    margin-top: -10px;
  }
  /* END LOGIN PAGE CODE */

  .loginInput{
    margin-left: -3px;
    width: 420px;
  }
}
