:root{
  --gradient: linear-gradient(120deg,#23F2AC,#23D0F2);
  --aquamarine: #23F2AC;
  --turquoise: #23D0F2;
  --background: #202131;
  --cardColor: #2b2c3c;
  --tournamentCardColor: #3a3b4a;
}

* {
    font-family: 'proxima-nova';
    font-style: normal;
}

body {
    overflow: hidden;
    background-color: var(--background);
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
}

.katSplash{
  background-image: url("../media/splash_art/katsplash.jpg");
  background-size: cover;
}

.karmaSplash{
  background-image: url("../media/splash_art/karmasplash.jpg");
  background-size: cover;
}

.akaliSplash{
  background-image: url("../media/splash_art/akalisplash.jpg");
  background-size: cover;
}

.splashOverlay{
  background: rgba(32,33,49,0.9);
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
}

input {
    font-family: 'proxima-nova' !important;
    -webkit-font-smoothing: antialiased;
    margin-top: 0px;
    padding: 14px !important;
    width: 100%;
    font-size: 15px !important;
    border: 1px solid rgba(255,255,255,0.11);
    background-color: rgba(255,255,255,0.09);
    transition-duration: 0.2s;
    border-radius: 5px;
    color: #eeeeee;
}



select{
  font-family: 'proxima-nova' !important;
  margin: 0px;
  padding: 14px;
  width: 100%;
  font-size: 17px;
  border: 1px solid rgba(255,255,255,0.11);
  background-color: rgba(255,255,255,0.09);
  color: #eeeeee;
}

h1{
    font-family: 'proxima-nova' !important;
    -webkit-font-smoothing: antialiased;
    color: #eeeeee !important;
    text-align: center;
    font-size: 40px !important;
    letter-spacing: 1.6px;
    margin-bottom: 4vh;
}

.smallRoundedBorders{
  border-radius: 5px;
}

.mediumRoundedBorders{
  border-radius: 10px;
}

.largeRoundedBorders{
  border-radius: 20px;
}

.roundedTopBorder10{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.roundedBottomBorder10{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.error {
  position: relative;
  animation: shake .1s linear;
  animation-iteration-count: 3;
}

@keyframes shake{
  0% {left: -3px; }
  100% {right: -3px;}
}

.Footer{
    display: none;
}
.Header{
    display: none;
}

.gradientText{
  background: -webkit-linear-gradient(300deg,var(--aquamarine),var(--turquoise));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* FORGOT PASSWORD PAGE CODE BELOW */

#forgotPasswordImage{
    float: right;
    display: none;
    width: 50vw;
    height: 100vh;
    object-fit: cover;
}

.forgotPasswordInput{
    margin-bottom: -20px;
    max-width: 360px;
    width: 80%;
}

#resetBtn{
  width: 360px;
  max-width: 80%;
}
/* END FORGOT PASSWORD PAGE CODE */



/* THE BELOW IS FOR THE LOGIN PAGE */

.rememberMeBlock{
  width: auto;
  display: inline-block;
  margin-left: -140px;
  height: auto;
}

.rememberMeInput{
  width: auto;
  margin-right: 10px;
  cursor: pointer;
}

.rememberMeText{
  display: inline-block;
  margin: 0px;
  color: #bbbbbb;
  cursor: pointer;
}

#forgot-password-block{
  display: inline-block;
  margin-left: 50px;
  margin-top: -5px;
}

.loginCard{
  border-radius: 16px;
  padding: 30px;
  background-color: var(--cardColor);
  margin-left: auto;
  margin-right: auto;
  max-width: 450px;
  height: auto;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
}


.forgotPasswordText{
  color: #bbbbbb;
}

/* BUTTONS */

.loginButton{
  font-size: 18px;
  font-family: 'proxima-nova' !important;
  letter-spacing: 1px;
  float: center;
  text-transform: uppercase;
  width: 90%;
  max-width: 90%;
  height: 50px;
  color: #ffffff;
  border: transparent;
  border-radius: 8px;
  transition-duration: 0.2s;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
}

.loginButton:hover{
  opacity: 80%;
  transition-duration: 0.2s;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.3);
  transform: translateY(-1px);
}

.primaryBtn{
  background: var(--gradient);
  margin-top: 20px;
}

.secondaryBtn{
  color: rgba(255,255,255,0.5);
  margin-top: 20px;
  background: var(--tournamentCardColor);
}
/* END BUTTONS */

.logo{
    display: block;
    width: 300px;
    height: 180px;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 10px;
}

#loginImage{
    display: none;
    float: right;
    width: 50vw;
    height: 100vh;
    object-fit: cover;
}

.loginForms {
    background: var(--cardColor);
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    margin-bottom: 20px;
}

.loginText{
  margin-top: 10px;
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center;
  width: 80%;
  margin-bottom: 40px;
}

.loginInput{
  color: #eeeeee !important;
  margin-bottom: 20px;
  max-width: 90%;
  width: 90%;
}

::placeholder{
  color: #888888 !important;
}

/*Shows raw firebase code*/
#firebaseLoginDev{
  display: none; /* Display normal to show */
}

/* END LOGIN PAGE */



/* REGISTRATION PAGE BEGINS HERE */

#registrationLogo{
  display: none;
  width: 260px;
  height: 120px;
  top: 20px;
  left: 50px;
  object-fit:contain;
  position: absolute;
}

/* PLAYER OR COACH INPUT BUTTONS */
input[type="radio"]{
  visibility: hidden;
  height: 0px;
  width: 0px;
}

input[type="radio"] + label{
  display: block;
  padding-top: 20px;
  font-size: 40px;
  text-align: center;
  margin-left: 5%;
  width: 90%;
  height: 100px;
  background: white;
  color: #232323;
  text-transform: uppercase;
  cursor: pointer;
  transition-duration: 0.2s;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}

input[type="radio"]:checked + label{
  transition-duration: 0.2s;
  background: -webkit-linear-gradient(300deg, var(--aquamarine), var(--turquoise));
  color: white;
}
/* END PLAYER OR COACH INPUT BUTTONS */


/*GAME SELECT*/
.gameImages{
  height: auto;
  width: 150px;
  cursor: pointer;
}

.gameCheckbox{
  position: absolute;
  visibility: hidden;
  width: 30px;
  height: 30px;
  z-index: 10;
}

.gameCheckbox:checked{
  visibility: visible;
  transition-duration: 0.2s;
  box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.4);
}

input[type="checkbox"] + label{
  margin: 10px !important;
  filter: opacity(100%);
  transition-duration: 0.2s;
}

input[type="checkbox"]:hover + label{
  filter: opacity(70%);
  transition-duration: 0.2s;
  transform: scale(0.97);
}

input[type="checkbox"]:checked + label{
  transform: scale(1.06);
  transition-duration: 0.2s;
  box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.23);
}

#gameRow{
  margin-left: auto;
  margin-right: auto;
  width: 345px;
}
/*END GAME SELECT*/

.registrationTitle{
  font-family: 'proxima-nova' !important;
  color: #eeeeee;
  font-size: 7vw;
  margin-bottom: 10px;
}

.registrationText{
  font-size: 18px;
  color: #aaaaaa;
  text-align: center;
  margin-bottom: 3vh;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.nextButton{
  display:block;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  margin-top: 8vh;
  margin-bottom: 1%;
  background: var(--gradient);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  width: 70vw;
  height: 44px;
  color: white;
  border: transparent;
  border-radius: 8px;
  transition-duration: 0.2s;
}

.nextButton:hover{
  opacity: 70%;
  transition-duration: 0.2s;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
  transform: translateY(-1px);
}

.tab{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
}

.inputRow{
  margin-left: auto;
  margin-right: auto;
  width: 75vw;
}

#nameTab{
  margin-top: 25vh;
}

#emailTab{
  margin-top: 22vh;
}

#roleTab{
  margin-top: 15vh;
}

#teamTab{
  margin-top: 25vh;
}

#team {
  width: 100%;
}

#allTeams {
  height: auto;
  max-height: 135px;
  overflow-y: scroll;
  overflow-x: hidden;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#allTeams li a {
  border: 1px solid #dddddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: rgba(255,255,255,0.14);
  padding: 10px;
  text-decoration: none;
  font-size: 16px;
  color: #eeeeee;
  display: block;
}

#allTeams li a:hover:not(.header) {
  background-color: rgba(255,255,255,0.12);
  cursor: pointer;
}

#gamesTab{
  margin-top: 6vh;
}

#profilePicTab{
  margin-top: 15vh;
}

#addProfilePic{
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transition-duration: 0.2s;
}

#avatarUploader{
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

#addProfilePic:hover{
  opacity: 70%;
  transition-duration: 0.2s;
}

#avatarUploader:hover{
  opacity: 70%;
  transition-duration: 0.2s;
}

#profilePicRow{
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

/* END REGISTRATION PAGE */



@media only screen and (min-width: 690px){
  input{
    width: 250px;
  }

  /* REGISTRATION PAGE CODE */

  .registrationInputBoxes{
    font-size: 16px;
    padding: 16px;
  }

  .inputRow{
    width: 505px;
  }

  .gradientLiner{
    display: block;
  }

  #registrationLogo{
    display: block;
  }

  .registrationTitle{
    font-size: 60px;
  }

  .registrationText{
    font-size: 23px;
    margin-bottom: 6vh;
    width: 680px;
  }

  .nextButton{
    width: 350px;
  }

  #nameTab{
    margin-top: 25vh;
  }

  #emailTab{
    margin-top: 25vh;
  }

  #roleTab{
    margin-top: 20vh;
  }

  #locationTab{
    margin-top: 25vh;
  }

  #gamesTab{
    margin-top: 15vh;
  }

  #profilePicTab{
    margin-top: 15vh;
  }

  input[type="radio"] + label{
    margin-left: 0px;
    margin-bottom: 0px;
    width: 100%;
    display: block;
  }

  #roleRow{
    margin-left: auto;
    margin-right: auto;
    width: 700px;
  }

  #spacing{
    margin-left: auto;
    margin-right: auto;
    width: 55%;
  }

  #roleText{
    margin-bottom: 20px;
  }

  #gameRow{
    width: 695px;
  }

  select{
    width: 250px;
  }
  /* END REGISTRATION PAGE CODE */

  /*LOGIN PAGE CODE */

  /* END LOGIN PAGE CODE */

  /*FORGOT PASSWORD CODE */
  .forgotPasswordInput{
    width: 360px;
  }
  /* END FORGOT PASSWORD CODE */
}

@media only screen and (min-width: 900px){
  /* FORGOT PASSWORD CODE */
  #forgotPasswordImage{
    display: inline;
  }

  #resetBtn{
    margin-top: 50px;
    margin-right: 214px;
    width: 150px;
    max-width: 100%;
  }

  .forgotPasswordInput{
    margin-left: -10px;
    width: 360px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  /*END FORGOT PASSWORD CODE */


  /* LOGIN PAGE CODE */
  .loginButton{
    width: 90%;
    max-width: 90%;
  }

  #loginImage{
    display: inline;
  }

  .forgotPasswordText{
    font-family: 'proxima-nova';
  }

  #return-login-block{
    margin-left: -60px;
    margin-top: -20px;
  }
  /* END LOGIN PAGE CODE */
}
